apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: coder-test
  namespace: argocd

spec:
  project: default

  source:
    repoURL: https://github.com/manojchappidi/argocd-apps.git
    targetRevision: main
    path: coder
    helm:
      valueFiles:
        - values.yaml

  destination:
    server: https://kubernetes.default.svc
    namespace: coder

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
