apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: coder-deploy
  namespace: argocd

spec:
  project: Argo-coder

  source:
    repoURL: https://helm.coder.com/v2
    chart: coder
    targetRevision: 2.29.5
    helm:
      valueFiles:
        - values.yaml

  destination:
    server: https://kubernetes.default.svc
    namespace: coder

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
