apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: coder-test
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://helm.coder.com/v2
    chart: coder
    targetRevision: 2.29.7
    helm:
      valueFiles: []
      values: |
        service:
          type: ClusterIP

  destination:
    server: https://kubernetes.default.svc
    namespace: coder

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
